:root {
  background-color: rgb(197, 248, 255);
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin: 0;
  padding: 0;
  cursor: url("../assets/magic-wand-no-sparkles.svg") 9 9, auto;
  -webkit-tap-highlight-color: transparent;
}

.blur {
  transition: 0.5s ease 0.6s;
}

.blur.active {
  transition-delay: 0s;
  filter: blur(10px);
  pointer-events: none;
}

li {
  font-size: 2rem;
  color: var(--secondary-color);
}

body {
  --primary-color: rgb(197, 248, 255);
  --secondary-color: #2d867f;
  --tertiary-color: rgb(197, 248, 255);
  --white: #fff;
  --color-4: #9efcff;
  --color-5: #1a4b47;
  --color-6: #223f3d86;
  --color-7: #223f3d38;
  --correct-color: greenyellow;
  --wrong-color: coral;
  --transition-color: #9efcff;
  --textinput-color: #d6fcfd;
  --disabled-color: #c6fdff;
  --disabled-text-color: #6cb3ad;
  --disabled-outline-color: #3b7772;
  --pointer-wand: url("../assets/magic-wand.svg") 9 9, auto;
  overflow: hidden;
}

.dark-theme {
  --primary-color: #1a4b47;
  --secondary-color: rgb(197, 248, 255);
  --tertiary-color: #1a4b47;
  --white: #fff;
  --color-4: #2d867f;
  --color-5: rgb(197, 248, 255);
  --color-6: #223f3d;
  --color-7: #223f3df8;
  --correct-color: forestgreen;
  --wrong-color: maroon;
  --transition-color: #2d867f;
  --textinput-color: #123d3a;
  --disabled-color: #1e5752;
  --disabled-text-color: rgb(138, 187, 190);
  --disabled-outline-color: #3b7772;
}

p {
  color: var(--color-5);
  font-weight: bolder;
  font-size: 1.6rem;
}

h1,
h2,
h3,
h4 {
  text-align: center;
  margin-bottom: 1rem;
  color: var(--color-5);
  transition-delay: 0.5s;
  transition: 0.5s ease;
  pointer-events: none;
}

h1 {
  font-size: 5.4rem;
  color: var(--secondary-color);
  margin-bottom: 4.8rem;
  font-variant: small-caps;
  position: relative;
  max-height: 10rem;
  display: block;
}

h1>span {
  font-size: 2.4rem;
  font-weight: 500;
}

h2 {
  font-size: 4.2rem;
  margin-bottom: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 2.8rem;
  font-weight: 500;
}

a {
  justify-content: center;
}

/* question {
  width: 20vw;
} */

/* Utilities */

.container {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: min(80rem, 90%);
  margin: 0 auto;
  padding: 2rem;
  overflow: visible;
}


.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-centre {
  justify-content: center;
  align-items: center;
}

.justify-centre {
  justify-content: center;
}

.text-centre {
  text-align: center;
}

.hidden {
  display: none;
}

.button {
  position: relative;
  align-self: center;
  overflow: hidden;
  font-size: 1.4rem;
  text-decoration: none;
  border: solid 2px;
  border-color: var(--color-5);
  width: 20rem;
  height: 5rem;
  padding: 1.3rem;
  text-align: center;
  font-weight: bolder;
  background-color: var(--color-4);
  color: var(--color-5);
  margin-bottom: 1rem;
  border-radius: 2.5rem 0.5rem;
  transform: translateY(0.1rem);
  transition-duration: 100ms;
  transition-timing-function: ease-in-out;
  font-variant: small-caps;
}

.button:hover {
  cursor: var(--pointer-wand);
  scale: 110%;
  box-shadow: var(--color-6) 0 0.4rem 0.5rem 0.2rem;
  transform: translateY(-0.1rem);
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

.button[disabled]:hover {
  transform: none;
  box-shadow: none;
  cursor: not-allowed;
}

.button:active {
  transition-duration: 40ms;
  transition-timing-function: ease;
  transform: scale(90%);
}

#hat-wizard {
  position: absolute;
  height: 100px;
  left: 20%;
  top: -135%;
}

.button:before {
  content: '';
  position: absolute;
  height: 150px;
  width: 20px;
  background-color: var(--white);
  box-shadow: 0 0 20px var(--white);
  opacity: 0.8;
  filter: blur(5px);
  transform: translateX(-200px) rotate(-20deg);
  transition: 0.7s;
}

.button:hover:before {
  transform: translate(250px, -70px) rotate(-20deg);
}

#button-container:hover,
.sun:hover,
.moon:hover,
.toggle:hover,
.button-text:hover,
label:hover {
  cursor: var(--pointer-wand);
}

.button-text {
  pointer-events: none;
}

#body-content {
  overflow: auto;
  width: 100%;
}

label {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  display: flex;
  position: fixed;
}

input[type="checkbox"] {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: url('../assets/magic-wand.svg') 9 9, auto;
  position: absolute;
  opacity: 0;
}

.sun {
  border-radius: 50%;
  font-size: 2rem;
  color: var(--color-5);
  transition: 1s;
  transition-timing-function: ease;
  transition-delay: 500ms;
  position: fixed;
}

.moon {
  border-radius: 60%;
  color: var(--secondary-color);
  font-size: 2rem;
  transition: 0.5s;
  transition-timing-function: ease;
  position: absolute;
  transform: scale(0);
}

input:checked~.sun {
  border-radius: 50%;
  transform: rotate(360deg) scale(0);
  transition-delay: 0s;
}

input:checked~.moon {
  border-radius: 50%;
  transition-delay: 500ms;
  transform: scale(1) rotate(360deg);
}

.toggle {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  background-color: var(--primary-color);

  border-radius: 50%;
  z-index: -1;

  box-shadow:
    inset 0px 8px 60px var(--color-7),
    inset 0px 8px 8px var(--color-7),
    inset 0px -4px 4px var(--color-7);

  transition: 1s ease;
  background-color: var(--primary-color);
}

#animate-background {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
  clip-path: circle(200% at 40px 40px);
  z-index: -4;
  transition: 1s ease;
}

#animated-background {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--secondary-color);
  z-index: -4;
  transition: 0.8s ease;
  clip-path: circle(0% at 40px 40px);
}

#button-container {
  z-index: 10;
  margin-top: 20px;
  margin-left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  pointer-events: visible;
  transition: 0.1s ease;
}

#button-container:before {
  z-index: 1;
  content: '';
  position: absolute;
  height: 150px;
  width: 20px;
  background-color: var(--white);
  box-shadow: 0 0 20px var(--white);
  opacity: 0.8;
  filter: blur(5px);
  transform: translateX(-100px) rotate(-20deg);
  transition: 0.7s;
}

#button-container:hover {
  transform: rotate(-20deg);
  transition: 0.1s ease;
}

#button-container:hover:before {
  transform: translate(100px, -70px) rotate(-20deg);
}

.transition-circle {
  width: 0;
  height: 0;
  position: fixed;
  border-radius: 50%;
  background-color: var(--transition-color);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 500;
  transition: 500ms ease;
}

.transition-circle.is-active {
  top: var(--mouse-y);
  left: var(--mouse-x);
  width: 500vw;
  height: 500vw;
  transition: translate 0s;
  transition: width 800ms, height 800ms;
  transition-delay: 0.5s;
  translate: -50%, -50%;
}

.star {
  position: absolute;
  width: 20px;
  height: 20px;
  pointer-events: none;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0, 5));
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none; 
  user-select:none;
  -o-user-select:none;
}

.star::before {
  position: absolute;
  content: '\f005';
  font-family: fontAwesome;
  color: var(--color-5);
  animation: moveStars 800ms ease forwards;
}

@keyframes moveStars {
  0% {
    transform: translate(0) rotate(0deg);
    opacity: 0;
  }

  20%,
  80% {
    opacity: 1;
  }

  100% {
    transform: translate(50px) rotate(360deg);
    opacity: 0;
  }
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input::placeholder {
  color: var(--disabled-text-color);
  font-weight: normal;
}

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container input {
  margin-bottom: 1rem;
  width: 20rem;
  height: 5rem;
  border-radius: 1rem;
  border: 2px solid var(--textinput-color);
  border-style: solid;
  padding: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.8rem;
  font-weight: bolder;
  box-shadow: 0 0.1rem 1.4rem 0 var(--color-6);
  background-color: var(--textinput-color);
  color: var(--color-5);
  transition: 0.5s ease;
}

.input-container span {
  overflow: visible;
  font-size: 1.8rem;
  color: var(--disabled-text-color);
  position: absolute;
  left: 0;
  top: 1rem;
  border: 2px solid var(--textinput-color);
  padding-left: 1.5rem;
  pointer-events: none;
  font-variant: small-caps;
  transition: all 0.5s ease 0.4s, border 0.5s ease;
  border-bottom: none;
  padding: 0.2rem 1rem;
  border-radius: 1rem 1rem 0 0;
}

.input-container input:valid ~ span,
.input-container input:focus ~ span,
.input-container input:hover ~ span {
  transition-delay: 0s;
  transform: translate(0.8rem, -2.4rem);
  padding: 0.2rem 1rem;
  height: 27%;
  font-size: 1rem;
  border-radius: 1rem 1rem 0 0;
  letter-spacing: 0.2rem;
  font-weight: bolder;
  background-color: var(--textinput-color);
}

.input-container input:valid ~ span,
.input-container input:focus ~ span {
  border: 2px solid var(--color-5);
  color: var(--color-5);
  border-bottom: none;
}

.input-container input:valid,
.input-container input:focus {
  border: 2px solid var(--color-5);
  outline: none;
}

button:disabled,
#submit-score-button:disabled {
  cursor: url('../assets/magic-wand-not-allowed.svg') 9 9, auto;
  box-shadow: inset 0 0.1rem 1.4rem 0 var(--color-6);
  translate: 0 1px;
  background-color: var(--disabled-color);
  color: var(--disabled-text-color);
  transition: 0s;
  transform: none;
  border-color: var(--disabled-outline-color);
}

#submit-score-button:disabled:hover {
  box-shadow: inset 0 0.1rem 1.4rem 0 var(--color-6);
  scale: 1;
}

#submit-score-button:disabled::before,
#submit-score-button:disabled:hover::before {
  transition: 0s;
  height: 0;
  width: 0;
}

.small-button {
  width: 5rem;
  z-index: 0;
}

#info-button span::before {
  content: '\f129';
  font-family: fontAwesome;
  /* font-size: 2rem; */
}

#back-button span::before {
  content: '\f2f6';
  font-family: fontAwesome;
}

.button-line-container {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  position: relative;
  z-index: 0;
}

.spacer {
  width: 5rem;
}

.subtitle {
  margin: 2rem;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.loader-1 {
  position: relative;
  transform: rotate(calc(45deg * var(--i)));
}

.loader-1 .loader-1-span {
  position: absolute;
  transform: rotate(calc(18deg * var(--j)));
}

.loader-1 .loader-1-span::before {
  content: '\f005';
  font-size: 0.6rem;
  font-family: fontAwesome;
  position: absolute;
  color: var(--secondary-color);
  animation: animate-loader 4s linear infinite;
  animation-delay: calc((-0.4s * var(--j)));
}

.loader-1:nth-child(even) .loader-1-span::before {
  content: '\f006';
}

@keyframes animate-loader {
  0% {
      transform: translateX(10rem) scale(4);
      opacity: 0;
  }
  50% {
      opacity: 1;
  }
  100% {
      transform: translateX(-1rem) scale(0);
      opacity: 0;
  }
}


#error-heading {
  position: fixed;
  bottom: 2rem;
  max-width: 80%;
  margin: auto;
}



#options-button {
  padding: 0.8rem;
}

.menu {
  position: relative;
}

#potion-icon {
  transition: 0.3s ease 0.6s, fill 0.1s ease 0s;
  transform: translate(-0.45rem, -0.4rem);
  fill: var(--color-5);
  height: 130%;
}

#potion-icon * {
  transition: 0.3s ease 0.6s, fill 0.1s ease 0s;
}

.menu.active #potion-icon {
  transition: 0.3s ease, fill 0.1s ease 0s;
  transform: translate(-0.2rem, -0.4rem);
}

.menu.active #potion-icon > * {
  transition-delay: 0s;
}

.menu #potion-cork, .menu #potion-fill, .menu #potion-body {
  transform-origin: center;
}

.menu.active #potion-cork {
  transform: translate(0.2rem, -1.2rem) rotate(-50deg);
}

.menu.active #potion-body {
  transform: translate(-0.4rem, 0.2rem) rotate(50deg);
}

.menu.active #potion-fill {
  transform: translate(-1.1rem, 0rem) rotate(-20deg);
}

.menu > li {
  transition: 0.5s ease;
  position: absolute;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(0deg) scale(0);
  transform-origin: 3.1rem -3.9rem;
  transition-delay: calc(0.15s * var(--i));
  /* opacity: 0; */
  z-index: 20;
}

.menu li#difficulty-selector {
  transform: scale(0) rotate(-120deg);
}

.menu li#category-selector {
  transform: scale(0) rotate(-120deg);
}

.menu li#quantity-selector {
  transform: scale(0) rotate(-120deg);
}

.menu.active > li {
  transition-delay: calc(0.3s + 0.15s * (2 - var(--i)));
}

.menu.active li#difficulty-selector {
  transform: scale(1) translate(1rem, -35rem);
}

.menu.active li#category-selector {
  transform: scale(1) translate(1rem, -17.5rem);
}

.menu.active li#quantity-selector {
  transform: scale(1) translate(1rem, 0rem);
}





.multiselect-dropdown {
  width: 30rem;
  position: relative;
  height: 5rem;
  box-shadow: 0 0.1rem 1.4rem 0 var(--color-6);
  border-radius: 1rem;
  background-color: var(--textinput-color);
  margin: 0;
  z-index: 25;
}

.multiselect-dropdown.show {
  position: relative;
  /* z-index: 50; */
}

.multiselect-dropdown.show > .selected-list-container{
  border: 2px solid var(--color-5);
}

.multiselect-dropdown > i {
  position: absolute;
  padding: 1.5rem;
  right: 0;
  z-index: 25;
  transition: 0.3s ease;
}

.multiselect-dropdown.show > i {
  transform: rotate(180deg);
}

.selector-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  border: 2px solid transparent;
  border-radius: inherit;
  box-shadow: none;
  position: absolute;
  z-index: 50;
  top: 100%;
  width: 100%;
  height: 0%;
  transition: 0.3s ease;
  overflow-y: auto;
  box-shadow: none;
}

.selector-menu > li {
  position: relative;
  font-size: 1.4rem;
  padding: 0.8rem;
  height: 3.3rem;
  transition: 0.3s ease;
  /* z-index: 50 !important; */
  /* opacity: 0; */
  border-bottom: solid var(--color-5);
  border-width: 2px 0px;
  background-color: var(--textinput-color);
}

.selector-menu li:hover {
  background-color: var(--color-4);
  padding-left: 2rem;
}

.selector-menu li:active {
  transition: 0.1s ease;
  padding-left: 1.2rem
}

.multiselect-dropdown.show > .selector-menu {
  height: 10.3rem;
  /* z-index: 50 !important; */
  box-shadow: 0 0.1rem 1.4rem 0 var(--color-6);
  border: 2px solid var(--color-5);
}

.selected-list-container {
  position: relative;
  width: 100%;
  height: 100%;
  inset: 0;
  border-radius: inherit;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 0.5rem;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  list-style: none;
  z-index: 25;
  transition: 0.3s ease;
  border: 2px solid var(--textinput-color);
}

.selected-list-entry > span {
  text-align: left;
  max-height: 3.8rem;
  max-width: max-content;
  vertical-align: center;
}

.selected-list-entry {
  user-select: none;
  font-size: 1.3rem;
  max-height: 3.2rem;
  position: relative;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  gap: 1rem;
  align-items: center;
  padding: 1rem;
  border-radius: 1.7rem 0.5rem;
  margin: 0rem 0.2rem 0.4rem 0.2rem;
  width: auto;
  min-width: 5rem;
  animation: itemZoomIn 0.3s ease;
}

#category-selected-list {
  padding-right: 1.4rem;
}

.selected-list-entry:active  {
  transform: scale(0.9);
}

.selected-list-entry > i {
  transition: 0.2s ease;
  border-radius: 50%;
}

.selected-list-entry:hover > i {
  background-color: var(--wrong-color);
}

.menu li h4 {
  text-justify: left;
  position: relative;
  pointer-events: none;
  z-index: 20;
  margin: 1rem;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
}

.selected-list-container:empty::before {
  content: '';
  padding-left: 1.4rem;
  color: var(--disabled-text-color);
  transition: 0.2s ease;
}

#difficulty-selected-list:empty::before {
  content: 'Default: Easy';
}

#category-selected-list:empty::before {
  content: 'Default: General Knowledge';
}


/* width */
::-webkit-scrollbar {
  width: 0.8rem;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: var(--textinput-color);
  border-radius: 0 2rem 2rem 0;
  box-shadow:
  inset 0px 8px 60px var(--color-7),
  inset 0px 8px 8px var(--color-7),
  inset 0px -4px 4px var(--color-7);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background-color: var(--color-5);
  border-radius: 2rem;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
} */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-background-clip: text;
    -webkit-text-fill-color: var(--color-5);
    transition: 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px var(--textinput-color);
}

input:-webkit-autofill{
  -webkit-text-fill-color: var(--color-5) !important;
}

.multiselect-dropdown > .fa-solid:hover, .selected-list-entry:hover, .selector-menu > li:hover, .selected-list-entry > *:hover {
  cursor: var(--pointer-wand);
}

.item-zoom-out {
  animation: itemZoomOut 0.4s ease-in;
}

@keyframes itemZoomIn {
  0% {
      transform: scale(0);
  }
  100% {
      transform: scale(1);
  }
}

@keyframes itemZoomOut {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(0);
  }
}


.scroll-box {
  position: relative;
  height: 5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 65%;
}

.scroll-selector-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20rem;
  height: 5rem;
  margin: 0 5rem;
  box-shadow: 0 0.1rem 1.4rem 0 var(--color-6);
  border-radius: 1rem;
  background-color: var(--textinput-color);
}

.scroll-selector-container .left-arrow + .right-arrow {
  margin: 1rem 0;
}

.scroll-box .scroll-item {
  /* top: calc(50% - 1rem); */
  /* left: calc(50% - 1rem); */
  position: absolute;
  color: var(--color-5);
  font-weight: bolder;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  width: 2rem;
  height: 2rem;
  user-select: none;
  transition: 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
}

.scroll-box .scroll-item:nth-child(1) {
  opacity: 1;
  filter: blur(1.2px) opacity(0.5);
  z-index: 1;
  transform: translate(-6rem, 0);
  font-size: 1.6rem;
  /* background-color: red; */
}
.scroll-box .scroll-item:nth-child(2) {
  opacity: 1;
  filter: blur(0.7px) opacity(0.6);
  z-index: 2;
  transform: translate(-6rem, 0);
  font-size: 2rem;
  /* background-color: red; */
}
.scroll-box .scroll-item:nth-child(3) {
  opacity: 1;
  filter: blur(0.4px) opacity(0.8);
  z-index: 3;
  transform: translate(-4rem, 0);
  font-size: 2.6rem;  
  /* background-color: green; */
}
.scroll-box .scroll-item:nth-child(4) {
  opacity: 1;
  filter: opacity(1);
  z-index: 4;
  transform: translate(0, 0);
  font-size: 3.4rem;
  /* background-color: blue; */
}
.scroll-box .scroll-item:nth-child(5) {
  opacity: 1;
  filter: blur(0.4px) opacity(0.8);
  z-index: 3;
  transform: translate(4rem, 0);
  font-size: 2.6rem;
  /* background-color: violet; */
}
.scroll-box .scroll-item:nth-child(6) {
  opacity: 1;
  filter: blur(0.7px) opacity(0.6);
  z-index: 2;
  transform: translate(6rem, 0);
  font-size: 2rem;
  /* background-color: violet; */
}
.scroll-box .scroll-item:nth-child(7) {
  opacity: 1;
  filter: blur(1.2px) opacity(0.5);
  z-index: 1;
  transform: translate(6rem, 0);
  font-size: 1.6rem;
  /* background-color: violet; */
}



@media screen and (max-width: 600px) {
  h2 {
    font-size: 3rem;
  }
}

/* #end h2 {
  max-width: 20rem;
} */